/* VUE TRANSITIONS */

// FADE
.fade-enter-active, .fade-leave-active {
    transition: opacity .1s;
}
.fade-enter-from, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

// GROW
.grow-enter-active {
  animation: grow .1s;
}
.grow-leave-active {
  animation: grow .1s reverse;
}

.grow-long-enter-active {
  animation: grow .2s;
}
.grow-long-leave-active {
  animation: grow .2s reverse;
}

@keyframes grow {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}



// ROTATE
.rotate-enter-active {
  animation: rotate .1s;
}
.rotate-leave-active {
  animation: rotate .1s reverse;
}
@keyframes rotate {
  0% {
    opacity: 0;
    transform: rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: rotate(360deg);
  }
}

// LIST
.list-enter-active {
  animation: grow .1s;
}
.list-leave-active {
  animation: grow .1s reverse;
}
.list-move {
    transition: transform 400ms;
}

// BOUNCE
.bounce-enter-active {
    animation: bounce-in .2s;
}
.bounce-leave-active {
    animation: bounce-in .2s reverse;
}
@keyframes bounce-in {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.8);
    }
    100% {
        transform: scale(1);
    }
}

